WATCHTOWER_POLL_INTERVAL=30
WATCHTOWER_NOTIFICATIONS=shoutrrr
WATCHTOWER_NOTIFICATION_URL=discord://token@1234567890

CLIENT_ID=332269999912132097
CLIENT_SECRET=937it3ow87i4ery69876wqire
REDIRECT_URI=https://ddocs.io/login/callback
CONNECTION_STRING=postgresql://myvery:coolandawesomepostgressinfo@postgres:5432/postgres
JWT_SECRET=somereallylongstring
