WATCHTOWER_POLL_INTERVAL=30
WATCHTOWER_NOTIFICATIONS=shoutrrr
WATCHTOWER_NOTIFICATION_URL=discord://token@1234567890

CLIENT_ID=42069420694206942069
CLIENT_SECRET=your-super-cool-discord-secret-here
REDIRECT_URI=https://ddocs.io/login/callback
CONNECTION_STRING=postgresql://postgres:postgres@postgres:5432/postgres
JWT_SECRET=somereallylongstring
